/* Global Styles */
* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
	color: #333;
}

header {
	background-color: #326275;
	color: white;
	padding: 1rem;
	text-align: center;
	position: relative;
}

#navigation {
	list-style: none;
	padding: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 2rem;
}

#navigation li {
	cursor: pointer;
}

#navigation li:hover {
	text-decoration: underline;
	color: antiquewhite;
}

#navigation li a {
	color: white;
	text-decoration: none;
	font-size: 1.1rem;
}

#templeCards {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	padding: 1rem;
	justify-items: center;
}

.templeCard {
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 8px;
	overflow: hidden;
	width: 100%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s;
}

.templeCard:hover {
	transform: translateY(-5px);
}

.templeImage {
	width: 100%;
	height: 300px;
	display: block;
	object-fit: cover;
}

.templeCard div {
	padding: 1.5rem;
}

footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 1rem;
	margin-top: 2rem;
}

footer p {
	margin: 0;
}

#title {
	text-align: center;
	margin-top: 2rem;
	font-size: 2rem;
	color: #333;
}

#menuToggle {
	display: none;
	background: none;
	border: none;
	color: white;
	font-size: 2rem;
	cursor: pointer;
	position: absolute;
	top: 30%;
	right: 1rem;
	z-index: 1001;
}

#navigation.active {
	display: none; /* Hacer visible el menú */
}
