@media (max-width: 799px) {
	#menuToggle {
		display: block;
	}

	#navigation {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 90%;
		left: 0;
		width: 100%;
		background-color: #326275;
		padding: 1rem 0;
		gap: 1rem;
	}

	#navigation.active {
		display: flex; /* Se muestra cuando está activo */
	}

	#navigation li {
		margin: 0;
		padding: 0.5rem 0;
	}
}

@media (min-width: 800px) {
	#templeCards {
		grid-template-columns: repeat(3, 1fr);
	}

	#navigation {
		display: flex; /* Siempre visible en desktop */
	}

	/* #navigation li {
		margin: 1rem 0;
	}

	#menuToggle {
		display: none;
		background: none;
		border: none;
		color: white;
		font-size: 2rem;
		cursor: pointer;
		position: absolute;
		top: 1rem;
		right: 1rem;
	}

	#menuToggle:hover {
		color: #f9f9f9;
	}

	#menuToggle.active + #navigation {
		display: flex;
	} */
}
